---
import CounterLayout from '@/layouts/CounterLayout.astro';
import { Header } from '@/components/Header';
import MoneyCounter from '@/components/money-counter/money-counter';
import Footer from '@/components/Footer.astro';
---

<CounterLayout>
  <Header client:load />
  <main class="flex flex-col gap-10 px-7 mt-10">
    <MoneyCounter client:load />
  </main>
  <Footer />
</CounterLayout>
