.main-container {
  padding: 0 20px;
}
.section-title {
  width: 100%;
  margin: 70px 0 20px;
  align-items: center;
}
.section-img {
  height: 22px;
  margin-right: 12px;
}
/* Contact info */
.contact-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.contact-info-container {
  width: 100%;
}
.contact-info-container h5 {
  margin-top: 20px;
}
.name-container {
  align-items: baseline;
  margin-bottom: 5px;
}
.name-container h4 {
  font-size: 2rem;
}
.name-container h1 {
  margin-left: 7px;
  color: var(--primary);
  font-size: 3.3rem;
}
.open-to-work {
  justify-content: center;
  padding: 7px;
  border-radius: 20px;
  width: 120px;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  animation: glow 6s linear infinite;
}
@keyframes glow {
  0% {border: 3px solid rgb(255, 94, 94);}
  20% {border: 3px solid rgb(255, 228, 94);}
  40% {border: 3px solid rgb(94, 255, 94);}
  60% {border: 3px solid rgb(94, 172, 255);}
  80% {border: 3px solid rgb(234, 94, 255);}
  100% {border: 3px solid rgb(255, 94, 94);}
}
.profile-pic {
  width: 60%;
  border: 5px solid var(--primary);
  border-radius: 50%;
  margin-left: 15px;
  aspect-ratio: 1;
}
.contact-links {
  margin-top: 10px;
  align-items: center;
  gap: 15px;
}
.contact-links a {
  height: 25px;
  width: 25px;
}
.contact-links a:last-child {
  margin-right: 0;
}
.contact-link {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.1s linear;
}
.contact-link:hover {
  filter: grayscale(0%);
}

/* About */
.about-container {
  margin: 0 auto 0;
  max-width: var(--max-width);
}
.about-container p {
  border-left: 5px solid var(--primary);
  padding-left: 15px;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.about-container em {
  color: var(--primary);
  font-weight: bold;
}

/* My skills */
.skills-container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}
.skill-cards {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 15px;
}
.skill-card {
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: var(--secondary-background);
  padding: 10px;
  width: 22.5%;
  transition: 0.1s linear;
}
.skill-card:hover {
  background-color: var(--secondary-hover);
  color: black;
}
.skill-card img {
  height: 40px;
  margin-bottom: 10px;
}
.skill-card figcaption {
  font-size: 1.2rem;
}

/* Portfolio */
.portfolio-container {
  margin: 0 auto 0;
  max-width: var(--max-width);
}
.projects-container {
  max-width: var(--max-width);
  margin: 0 auto;
  gap: 60px;
}
.project {
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: 0.1s linear;
  gap: 10px;
}
.project-img {
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 10px;
  text-align: center;
  object-fit: cover;
  margin-bottom: 7px;
}
.project h4,
.project-description {
  width: 100%;
  text-align: left;
}
.project h4 {
  font-size: 2rem;
}
.project-description {
  font-size: 1.4rem;
  color: rgb(194, 194, 194);
  line-height: 2.5rem;
}
.project-description em {
  font-weight: bold;
}
.project-techs {
  width: 100%;
  gap: 7px;
  flex-wrap: wrap;
}
.tech-img {
  height: 13px;
  width: 13px;
}
.tech-container {
  align-items: center;
  border-radius: 20px;
  padding: 3px 12px;
  gap: 6px;
}
.tech-p {
  font-size: 1.2rem;
}
.tech-react {
  background-color: rgb(0, 35, 74);
}
.tech-javascript {
  background-color: rgb(105, 91, 19);
}
.tech-node {
  background-color: rgb(0, 74, 12);
}
.tech-express {
  background-color: rgb(80, 80, 80);
}
.tech-postgres {
  background-color: rgb(0, 58, 94);
}
.tech-html {
  background-color: rgb(88, 36, 36);
}
.tech-css {
  background-color: rgb(0, 70, 76);
}
.project-link-container {
  width: 100%;
  gap: 20px;
}
.project-link {
  background-color: rgb(79, 79, 79);
  padding: 7px 10px;
  border-radius: 10px;
  border: 1px solid gray;
  gap: 10px;
  transition: 0.1s linear;
}
.project-link:hover {
  border: 1px solid var(--primary-hover);
}
.project-link-img {
  width: 13px;
}

@media (max-width: 500px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-info-container {
    padding: 0;
  }
  .contact-info {
    align-items: center;
  }
  .name-container {
    flex-direction: column;
    align-items: center;
  }
  .name-container h1 {
    margin-left: 0;
  }
  .contact-info-container h5 {
    text-align: center;
  }
  .open-to-work {
    margin: 20px auto 0;
  }
  .contact-links {
    justify-content: center;
  }
  .contact-links a {
    height: 30px;
    width: 30px;
  }
  .profile-pic {
    max-width: 180px;
    margin-left: 0;
    margin-top: 25px;
  }

  /* skills */
  .skill-card {
    width: 30%;
  }

  /* Portfolio */
  .project img {
    filter: none;
  }
  .project-description {
    line-height: 2.2rem;
  }
}