/* Contact info */
.contact-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.contact-info-container {
  width: 100%;
}
.contact-info-container h5 {
  margin-top: 20px;
}
.name-container {
  align-items: baseline;
  margin-bottom: 5px;
}
.name-container h1 {
  margin-left: 5px;
  color: var(--primary);
}
.profile-pic {
  width: 100%;
  border: 5px solid var(--primary);
  border-radius: 50%;
  margin-left: 15px;
  aspect-ratio: 1;
}
.contact-links {
  margin-top: 10px;
  align-items: center;
  gap: 15px;
}
.contact-links a {
  height: 25px;
  width: 25px;
}
.contact-links a:last-child {
  margin-right: 0;
}
.contact-link {
  width: 100%;
  transition: 0.1s linear;
}
.contact-link:hover {
  filter: brightness(120%);
}

/* About */
.about-container {
  margin: 0 auto 0;
  max-width: var(--max-width);
}
.about-container h1 {
  margin: 50px 0 20px;
  width: 100%;
  text-align: left;
}
.about-container p {
  border-left: 5px solid var(--primary);
  padding-left: 15px;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.about-container em {
  color: var(--primary);
}

/* My skills */
.skills-container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}
.skills-container h1 {
  margin: 50px 0 20px;
}
.skill-cards {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 15px;
}
.skill-card {
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: var(--secondary-background);
  padding: 10px;
  width: 22.5%;
  transition: 0.1s linear;
}
.skill-card:hover {
  background-color: var(--secondary-hover);
  color: black;
}
.skill-card img {
  height: 40px;
  margin-bottom: 10px;
}
.skill-card figcaption {
  font-size: 1.2rem;
}

/* Portfolio */
.projects-container {
  max-width: var(--max-width);
  margin: 0 auto;
}
.portfolio-container h1 {
  width: 100%;
  max-width: var(--max-width);
  text-align: left;
  margin: 50px auto 20px;
}
.project {
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  outline: 2px solid var(--secondary-background);
  transition: 0.1s linear;
}
.project:last-of-type {
  margin-bottom: 0;
}
.project:hover {
  outline: 3px solid var(--secondary-hover);
}
/* .project:hover h4,
.project:hover p {
  color: black;
} */
.project img {
  width: 100%;
  aspect-ratio: 2/1;
  text-align: center;
  object-fit: cover;
}
.project-info {
  position: absolute;
  gap: 5px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 7px;
  backdrop-filter: blur(10px);
}
.project h4 {
  font-size: 1.3rem;
  /* color: black; */
}
.project p {
  font-size: 1rem;
}

@media (max-width: 500px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-info-container {
    padding: 0;
  }
  .contact-info {
    align-items: center;
  }
  .name-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-info-container h5 {
    text-align: center;
  }
  .contact-links {
    justify-content: center;
  }
  .profile-pic {
    max-width: 200px;
    margin-left: 0;
    margin-top: 25px;
  }

  /* skills */
  .skill-card {
    width: 30%;
  }

  /* Portfolio */
  .project img {
    filter: none;
  }
}