---
import { Icon } from 'astro-icon/components';
---

<footer class="flex flex-col w-full gap-2 mt-20">
  <span class="text-center font-bold">Thanks for scrolling!</span>
  <span class="flex text-center justify-center items-center gap-2 text-sm">
    Made with
    <a href="https://reynaldomolina.github.io/todoapp/" target="_blank">
      <Icon name="heart" class="size-5" />
    </a>
    in Nicaragua
  </span>
</footer>