---
import '../styles/global.css';

const links = [
  {
    name: 'Home',
    link: '/'
  },
  {
    name: 'About',
    link: '/#about-section'
  },
  {
    name: 'Projects',
    link: '/#projects-section'
  },
];
---

<header class="flex sticky top-5 mb-20 z-1">
  <nav class="flex rounded-xl bg-neutral-400/60 dark:bg-neutral-500/60 mx-auto backdrop-blur-xl p-2 gap-2 outline-1 outline-neutral-300">
    {links.map((element) =>
      <a href={element.link} class="font-bold rounded-md px-3 py-1 hover:bg-neutral-300 dark:hover:bg-neutral-500 transition duration-150">{element.name}</a>
    )}
  </nav>
</header>