:root {
    --background: rgb(52, 53, 58);
    --secondary-background: rgb(70, 70, 70);
    --white: #FFFFFF;
    --primary: #ffc96b;
    --primary-hover: #ffdfa9;
    --secondary-hover: #caa25f;
    --secondary: #664d09;
    --link-hover: #ffb22d;
    --max-width: 550px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", serif;
}
html {
    font-size: 62.5%;
}
body {
    background: radial-gradient(rgb(72, 73, 78), var(--background));
    /* background-color: var(--background); */
    color: var(--white);
    font-size: 1.5rem;
    padding: 0 0 30px;
    min-width: 250px;
}
a {
    color: var(--white);
    text-decoration: none;
}
ul {
    list-style: none;
}
ul li {
    margin: 0 5px;
}
h1 {
    font-family: "Noto Sans", serif;
    font-size: 2.7rem;
}
em {
    font-style: normal;
}
p {
    margin-bottom: 0;
}
.flx {
    display: flex;
}
.flx-col {
    flex-direction: column;
}
.flx-center {
    justify-content: center;
    align-items: center;
}