/* for general inputs */
input[type=number]{
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  color: white;
  text-align: right;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
}
input:focus-visible {
  outline: none;
}
.hidden {
  display: none;
}
/* Container */
.counter-container {
  margin: 0 auto;
  max-width: 300px;
}
.counter-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary);
}
/* Exchange rate */
.exchange-rate {
  justify-content: space-evenly;
  margin: 0 auto 25px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--secondary-background);
  padding: 0 5px;
  width: 100%;
}
.exchange-rate p {
  text-align: center;
}
#exchange-rate {
  height: auto;
  margin: 0 10px;
  border-bottom: 2px solid gray;
  text-align: center;
  width: 70px;
}
#exchange-rate:focus-visible {
  border-bottom: 2px solid white;
}
.button-clear {
  color: black;
  border: none;
  background-color: rgb(255, 135, 135);
  border-radius: 5px;
  padding: 5px 7px;
}
.button-clear:hover {
  background-color: rgb(255, 83, 83);
}
/* Tables */
.counter-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}
.counter-table td, th {
  padding: 0 5px;
  text-align: right;
  height: 25px;
}
.counter-table td {
  border: 1px solid var(--secondary-background);
}
.counter-table th:nth-child(2),
.counter-table th:nth-child(3) {
  width: 50%;
}
.counter-table th {
  background-color: var(--secondary-background);
}
.table-title  {
  color: black;
  padding: 5px 7px;
  border-radius: 5px;
  background-color: var(--secondary-hover);
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.table-title button {
  width: 30px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 0 17px;
}
.table-title button > img {
  width: 17px;
}
.dropdown-img {
  transform: rotate(180deg);
}
.rotate {
  transform: rotate(0deg);
}
.table-title button:hover {
  background-color: var(--primary);
}
.table-totals th {
  text-align: center;
  background-color: var(--secondary-hover);
  color: black;
}
.table-totals td {
  border: none;
  text-align: center;
  background-color: var(--secondary-background);
}