---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="description" content="Portfolio of Reynaldo Molina, Front-End Dev specializing in React, JavaScript, and modern web technologies.">
  <meta name="generator" content={Astro.generator} />
  <title>Reynaldo Molina</title>
</head>
<body class="bg-gray-100 dark:bg-neutral-700 p-5">
  <slot />
</body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
</style>