---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta property="og:title" content="Reynaldo Molina | Front End Dev">
  <meta property="og:description" content="Reynaldo Molina, Front-End Dev specializing in React, JavaScript, and modern web technologies.">
  <meta name="description" content="Reynaldo Molina, Front-End Dev specializing in React, JavaScript, and modern web technologies.">
  <meta property="og:image" content="../assets/profile-pic.jpg">
  <meta property="og:type" content="website">
  <meta name="generator" content={Astro.generator} />
  <title>Reynaldo Molina</title>
</head>
<body class="bg-gray-100 bg-radial from-gray-50 dark:from-neutral-700 dark:bg-neutral-800 p-5">
  <slot />
</body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
</style>