/* Contact info */
.contact-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.contact-info-container {
  width: 100%;
}
.contact-info-container h5 {
  margin-top: 20px;
}
.name-container {
  align-items: baseline;
  margin-bottom: 5px;
}
.name-container h1 {
  margin-left: 5px;
  color: var(--primary);
}
.profile-pic {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  border: 5px solid var(--primary);
  border-radius: 50%;
  margin-left: 15px;
  aspect-ratio: 1;
}
.contact-links {
  margin-top: 10px;
  align-items: center;
  gap: 15px;
}
.contact-links a {
  height: 25px;
  width: 25px;
}
.contact-links a:last-child {
  margin-right: 0;
}
.contact-link {
  width: 100%;
  filter: brightness(80%);
}
.contact-link:hover {
  filter: brightness(100%);
}

/* About */
.about-container {
  margin: 0 auto 0;
  max-width: var(--max-width);
}
.about-container h1 {
  margin: 50px 0 20px;
  width: 100%;
  text-align: left;
}
.about-container p {
  border-left: 5px solid var(--primary);
  padding-left: 15px;
  font-size: 1.4rem;
}
.about-container em {
  color: var(--primary);
}

/* My skills */
.skills-container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}
.skills-container h1 {
  margin: 50px 0 20px;
}
.skill-cards {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 15px;
}
.skill-card {
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: var(--secondary-background);
  padding: 10px;
  width: 22.5%;
}
.skill-card:hover {
  background-color: var(--secondary-hover);
  color: black;
}
.skill-card img {
  height: 40px;
  margin-bottom: 10px;
}
.skill-card figcaption {
  font-size: 1.3rem;
}

/* Portfolio */
.projects-container {
  grid-template-columns: repeat(3, 1fr);
  max-width: var(--max-width);
  margin: 0 auto;
  column-gap: 20px;
  row-gap: 20px;
}
.portfolio-container h1 {
  width: 100%;
  max-width: var(--max-width);
  text-align: left;
  margin: 50px auto 20px;
}
.project {
  background-color: var(--secondary-background);
  border-radius: 5px;
}
.project:hover {
  background-color: var(--secondary-hover);
}
.project:hover h4,
.project:hover p {
  color: black;
}
.project:hover img {
  filter: none;
}
.project img {
  width: 100%;
  aspect-ratio: 1;
  text-align: center;
  overflow: hidden;
  margin-bottom: 5px;
  border-radius: 5px 5px 0 0;
  filter: brightness(90%);
}
.project h4, p {
  margin-bottom: 7px;
  font-size: 1.3rem;
}
.project p {
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-info-container {
    padding: 0;
  }
  .contact-info {
    align-items: center;
  }
  .name-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-info-container h5 {
    text-align: center;
  }
  .contact-links {
    justify-content: center;
  }
  .profile-pic {
    max-height: 200px;
    max-width: 200px;
    margin-left: 0;
    margin-top: 25px;
  }

  /* skills */
  .skill-card {
    width: 30%;
  }

  /* Portfolio */
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .project img {
      filter: none;
  }
}