:root {
    --background-gray: #212121;
    --header-gray: #383838;
    --white: #FFFFFF;
    --border-gray: rgb(88, 88, 88);
    --link-hover: darkkhaki;
    --link-clicked: rgb(255, 255, 160);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--background-gray);
    color: var(--white);
    font-size: 1.6rem;
}
a {
    color: var(--white);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    color: var(--link-clicked);
}
ul {
    list-style: none;
}
ul li {
    margin: 0 5px;
}

.inactive {
    display: none;
}
.flex {
    display: flex;
}
.flx-col {
    flex-direction: column;
}
.flx-center {
    justify-content: center;
    align-items: center;
}

/*Main page*/
.header {
    background-color: red;
    height: 50px;
    border-bottom: 1px solid var(--border-gray);
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
}
.header a {
    height: 25px;
    margin-left: 15px;
}
.header a:hover > img{
    filter: none;
}
.header a img {
    height: 100%;
    filter: grayscale();
}
.main-content h2 {
    text-align: center;
    margin-bottom: 15px;
}
.card-container{
    flex-wrap: wrap;
    margin: 0 20px;
}
.link-card {
    background-color: var(--header-gray);
    border-radius: 10px;
    border: 1px solid var(--border-gray);
    margin: 10px;
    cursor: pointer;
    height: 150px;
    width: 250px;
    padding: 0 20px;
    text-align: center;
}
.link-card:hover {
    border: 1px solid var(--white);
    text-decoration: none;
}
.link-card:active {
    border: 1px solid var(--link-clicked);
}

/*Pagina de contador de dinero*/
.button-clear {
    width: 90px;
}
.cambio-container {
    margin-bottom: 5px;
    font-size: 1.4rem;
    width: 300px;
    justify-content: space-evenly;
}
.cambio-container input {
    border: 1px solid var(--border-gray);
}
.tabla1 {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}
table {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    border: 1px solid rgb(78, 78, 78);
    width: 100px;
    height: 20px;
    text-align: center;
}
th {
    background-color: rgb(65, 65, 65);
}
input {
    width: 100px;
    height: 20px;
    background-color: var(--background-gray);
    border: none;
    appearance: textfield;
    color: white;
    text-align: center;
}
input:focus {
    outline: 0;
}

/*pagina versiculo aleatorio*/
.verse-container {
    height: 100px;
    width: 350px;
    margin: 20px 0;
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    background-color: var(--header-gray);
}
.verse-button {
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
}
.log-container {
    flex-direction: column;
    width: 350px;
}
.verse-log {
    margin: 5px;
}

/*pagina Jahaira store*/
.link-card-store {
    background-color: var(--header-gray);
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--border-gray);
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.link-card-store:hover {
    border: 1px solid var(--white);
}
.link-card-store:active {
    border: 1px solid var(--link-clicked);
}

@media (max-width: 500px) {
    .header {
        justify-content: center;
    }
    .header ul{
        display: none;
    }
    .card-container {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .link-card-store {
        background-color: var(--header-gray);
        width: 150px;
        height: 60px;
        border-radius: 10px;
        border: 1px solid var(--border-gray);
        margin: 10px;
        cursor: pointer;
        position: relative;
        font-size: 1.4rem;
    }
}