@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #34353a;
    --secondary-background: #3f3f3f;
    --white: #FFFFFF;
    --primary: #ffc96b;
    --primary-hover: #ffdfa9;
    --secondary: #664d09;
    --link-hover: #ffb22d;
    --max-width: 1000px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--background);
    color: var(--white);
    font-size: 1.5rem;
    padding: 0 20px;
    min-width: 250px;
}
a {
    color: var(--white);
    text-decoration: none;
}
a:focus {
    color: var(--link-hover);
}
ul {
    list-style: none;
}
ul li {
    margin: 0 5px;
}

.flx {
    display: flex;
}
.flx-col {
    flex-direction: column;
}
.flx-center {
    justify-content: center;
    align-items: center;
}

/*Header*/
.header {
    width: 100%;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 20px;
    /* position: sticky; */
}
.header-logo {
    height: 100%;
    margin-right: 10px;
}
.header-logo img {
    height: 50%;
}
.header-link {
    color: gainsboro;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 1.3rem;
}
.header-link:hover{
    color: var(--white);
}

/* About */
.about-container {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
}
.about-info-container {
    width: 100%;
}
.about-info-container h5 {
    margin-top: 20px;
}
.name-container {
    align-items: baseline;
    margin-bottom: 5px;
}
.name-container h2 {
    margin-left: 5px;
    color: var(--primary);
}
.profile-pic {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border: 10px solid var(--primary);
    border-radius: 50%;
    margin-left: 15px;
}
.about-links {
    margin-top: 10px;
    align-items: center;
}
.about-links a {
    margin-right: 15px;
}
.about-links a:last-child {
    margin-right: 0;
}
.about-link {
    width: 23px;
    height: 23px;
    filter: brightness(80%);
}
.about-link:hover {
    filter: brightness(100%);
}

@media (max-width: 500px) {
    .header-logo {
        height: 70%;
    }
    .about-container {
        flex-direction: column;
    }
    .about-info-container {
        padding: 0;
    }
    .about-info {
        align-items: center;
    }
    .name-container {
        flex-direction: column;
        align-items: center;
    }
    .about-info-container h5 {
        text-align: center;
    }
    .about-links {
        justify-content: center;
    }
    .profile-pic {
        max-height: 250px;
        max-width: 250px;
        margin-left: 0;
        margin-top: 25px;
    }
}