:root {
    --background-gray: #212121;
    --header-gray: #383838;
    --white: #FFFFFF;
    --border-gray: rgb(88, 88, 88);
    --link-hover: darkkhaki;
    --link-clicked: rgb(255, 255, 160);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--background-gray);
    color: var(--white);
    font-size: 1.6rem;
}

a {
    color: var(--white);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    color: var(--link-clicked);
}
ul {
    list-style: none;
}
ul li {
    margin: 0 5px;
}

.inactive {
    display: none;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-col {
    flex-direction: column;
}
.header {
    width: 100%;
    background-color: var(--header-gray);
    height: 40px;
    border-bottom: 1px solid var(--border-gray);
    justify-content: space-between;
    padding: 0 20px;
}
.header ul {
    font-size: 1.2rem;
}
.main-content {
    flex-direction: column;
    margin: 20px;
}

.title {
    margin: 0 auto 20px;
}
.link-card {
    background-color: var(--header-gray);
    width: 300px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid var(--border-gray);
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.link-card:hover {
    border: 1px solid var(--white);
}
.link-card:active {
    border: 1px solid var(--link-clicked);
}
.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/*Pagina de contador de dinero*/
.button-clear {
    width: 90px;
}
.cambio-container {
    margin-bottom: 5px;
    font-size: 1.4rem;
    width: 300px;
    justify-content: space-evenly;
}
.cambio-container input {
    border: 1px solid var(--border-gray);
}
.tabla1 {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}
table {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    border: 1px solid rgb(78, 78, 78);
    width: 100px;
    height: 20px;
    text-align: center;
}
th {
    background-color: rgb(65, 65, 65);
}
input {
    width: 100px;
    height: 20px;
    background-color: var(--background-gray);
    border: none;
    appearance: textfield;
    color: white;
    text-align: center;
}
input:focus {
    outline: 0;
}

/*pagina versiculo aleatorio*/
.verse-container {
    height: 100px;
    width: 350px;
    margin: 20px 0;
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    background-color: var(--header-gray);
}
.verse-button {
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
}
.log-container {
    flex-direction: column;
    width: 350px;
}
.verse-log {
    margin: 5px;
}

@media (max-width: 640px) {
    .header {
        justify-content: center;
    }
    .header ul{
        display: none;
    }
    .card-container {
        flex-direction: column;
    }
}